<h1>
    {{ title | uppercase }}
</h1>

<h2>
    {{ number | number: '1.0-0' }} <!--number takes two parameters 1. minimum numbers to be shown before decimal. 2. and min and max numbers after decimal -->
</h2>

<h2>
    {{price|currency: 'INR': false: '2.1-1'}} <!--Boolean value to show the currency symbol or code. and similarly the numbers can be adjusted like the number pipe-->
</h2>
<h1>
    {{ today | date: 'long' }} <!--Refer the docs for more values-->
</h1>

<h1>
    {{ postObject | json }}
</h1>

<h2>
    {{ 0.345 | percent : '2.2-2' }}
</h2>

<h2>
    {{ postArray | slice: 2:3 }}
</h2>

<h2>
    {{ userDetails.city | append }}
</h2>

<p>
    {{ dummyText | stringPipe }}
</p>